
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500;700&family=Roboto:ital,wght@0,400;0,700;1,400&family=Shrikhand&display=swap');
/*
font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-weight: 700;
font-family: 'Roboto Slab', serif;
    font-weight: 500;
    font-weight: 700;
font-family: 'Shrikhand', cursive;
    font-weight: 400;
*/

/* COLORS /\/\/\/\/\/\/\/\/\/\/\/\/\
color: #1dcd99; greenish
color: #375cd8; blueish
*/

/* CONTENTS /\/\/\/\/\/\/\/\/\/\/\/\/\
*/

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
}

html, p, li {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    color: #1a1a1a;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

img {
    width: 100%;
    height: auto;
}

li {
    list-style: inside;
}

hr.horizontal-rule {
    border-top: 1px solid #D8D8D8;
    margin: 4em 0 4em 0;
}

footer hr.horizontal-rule {
    border-top: 1px solid #D8D8D8;
    margin: 2em 0 2em 0;
}

a {
    color: #375cd8;
}

a:hover {
    color: #0443e5;
}

/* chevron-up - - - - - - - - - - */
/*
.back-to-top {
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 100%;
    margin: 4em 0 4em 0;
}*/

.fa-chevron-up {
    font-size: 2rem;
    color: #ffffff;
    background-color: #375cd8;
    padding: 10px 12px;
    border-radius: 26px;
}

/* text  - - - - - - - - - - */

strong { 
    font-weight: 700;
}

.category-title-text {
    font-family: 'Roboto Slab', serif;
    font-size: 2.4rem;
    margin: 0 0 1em 0;
    line-height: 1.2;
}

.category-lead-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    margin: 0 0 1em 0;
    line-height: 1.2;
}

.subhead-text-lg {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    margin: 0 0 1em 0;
    line-height: 1.2;
}

.subhead-text-md {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    line-height: 1.2;
}

.affiliate-message-text {
    margin: 1em 0 4em 0;
    text-align: center;
}

.keyword-text li {
    font-size: .80rem;
    display: inline-block;
    margin: 0 0 2em 0;
}

.author-name-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.date-reviewed-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    margin: 0 0 1em 0;
}

/* buttons - - - - - - - - - - */

.btn {
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    border: 0;
    cursor: pointer;
    margin: 3em 0 0 0;
}

.btn-primary {
    background:#375cd8;
    color: #fff;
    width: 160px;
    height: 44px;
    border-radius: 3px;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #0443e5;
    color: #fff;
}

.contain {
    width: 75%;
    margin: 0 auto;
}

/* HEADER - - - - - - - - - - */
header {
    background: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2em 0 2em 0;
}

.logo-card {
    display: flex;
    flex-direction: row;
}

.logo-text-abbr-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Shrikhand', cursive;
    font-size: 4rem;
    color: #1dcd99; 
}

.logo-text-full-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    margin: 0 0 0 1em;


}

.logo-text-full-header p {
    font-size: .9rem;
    line-height: 1;
}

/* Search Form - - - - - - - - - */

/* Style the search field */
form.example input[type=text] {
    padding: 10px;
    font-size: 1.25rem;
    border: 1px solid #dbdbdb;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.example button {

    width: 20%;
    padding: 10px;
    background: #375cd8;
    color: white;
    font-size: 1.25rem;
    border: 1px solid #d8d8d8;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0443e5;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }


/* NAV - - - - - - - - - - */

nav {
    background: #375cd8;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav a {
    text-decoration: none;
}


nav ul {
    background: #375cd8;
    list-style: none;
}

nav li {
    color: #fff;
    background: #375cd8;
    display: inline-block;
    text-align: center;
    min-width: 9rem;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}

nav li a {
    color: #fff;
}

nav li a:hover {
    color: #ffffff;
}


nav li:hover,
nav li:focus-within {
    background: #0443e5;
    cursor: pointer;
}

nav li:focus-within a {
    outline: none;
}

nav ul li ul {
    background: #375cd8;
    visibility: hidden;
    opacity: 0;
    min-width: 9rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}

nav ul li:hover > ul,
nav ul li:focus-within > ul,
nav ul li ul:hover,
nav ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block;
}

nav ul li ul li {
    clear: both;
    width: 100%;
}






/* featured-category-items - - - - - - - - - - */

.featured-category-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.view-more {
    margin: 4em 0 4em 0;
    text-align: right;
}

/* featured-card-column - - - - - - - - - - */

.featured-card-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 30%;
}

/* random-category-items - - - - - - - - - - */

.random-thumbnail-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* random-card-column - - - - - - - - - - */

.random-card-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 15%;
}

.random-card-column img { 
    margin: 0 0 1em 0;
}

/* season-featured-item - - - - - - - - - - */

.season-featured-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 100%;
}

.season-card-column-one {
    width: 10%;
}

.season-card-column-two {
    width: 10%;
}

.season-card-column-three {
    width: 65%;
}


/* google-ad-card - - - - - - - - - - */

.google-ad-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  
}

.google-ad-img {
    width: 728px;
    height: 90px;
}


/* FOOTER - - - - - - - - - - */

footer {
    background: #1a1a1a;
    padding: 4em 0 4em 0;
    margin: 4em 0 0 0;
    
}

.footer-contain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto;
}

.footer-card-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.align-right {
    text-align: right;
}

footer .card-body-text li {
    color: #ffffff;
    list-style: none;
}

footer .card-body-text li a {
    color: #ffffff;
    text-decoration: none;
}

footer .card-body-text li a:hover {
    color: #ffffff;
    text-decoration: underline;
}

footer .card-body-text {
    color: #ffffff;
}

.footer-custom-margin {
    margin: 0 0 2em 0;
}

.logo-text-footer {
    color:	#707070;
}

.fab {
    font-size: 3rem;
    color: #ffffff;
    padding: .25em .5em 0 0;
}