
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500;700&family=Roboto:ital,wght@0,400;0,700;1,400&family=Shrikhand&display=swap');
/*
font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-weight: 700;
font-family: 'Roboto Slab', serif;
    font-weight: 500;
    font-weight: 700;
font-family: 'Shrikhand', cursive;
    font-weight: 400;
*/

/* COLORS 1 /\/\/\/\/\/\/\/\/\/\/\/\/\
color: #1dcd99; greenish
color: #375cd8; blueish
*/

/* COLORS 2 /\/\/\/\/\/\/\/\/\/\/\/\/\
BLUE 1
color: #3077ae;

BLUE 2 - hover
color: #133b6d;

YELLOW 1 - nav bar
color: #f7ca5c;

FOOTER
color: #e9ebee;
*/

/* CONTENTS /\/\/\/\/\/\/\/\/\/\/\/\/\

    1. GLOBAL
    2. TEXT
    3. BUTTONS
    4. HEADER
        a. Search Form
    5. NAVIGATION
    6. MAIN
        a. featured-category-items
        b. featured-card-column
        c. random-category-items
        d. random-card-column
        e. season-featured-item
        f. category-featured-item
        g. all-reviews-list
        h. google-ad-card
    7. FOOTER 
    8. MEDIA QUERIES
        a. 1024px
        b. 958px
        c. 834px
        d. 768px
        e. 600px

/\/\/\/\/\/\/\/\/\/\/\/\/\ */

/* 1. GLOBAL - - - - - - */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, p, li {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    color: #1a1a1a;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

img {
    width: 100%;
    height: auto;
}

li {
    list-style: inside;
}

hr.horizontal-rule {
    border-top: 1px solid #D8D8D8;
    margin: 4em 0 4em 0;
}

footer hr.horizontal-rule {
    border-top: 1px solid #D8D8D8;
    margin: 2em 0 2em 0;
}

a {
    color: #48a5b4;
}

a:hover {
    color: #225158
}

/* chevron-up - - - - - - -  */
/*
.back-to-top {
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 100%;
    margin: 4em 0 4em 0;
}*/

.fa-chevron-up {
    font-size: 2rem;
    color: #ffffff;
    padding: 10px 12px;
    border-radius: 26px;
}

.custom-margin-bottom {
    margin: 0 0 4em 0;
}

.custom-margin-top {
    margin: 4em 0 0 0;
}

/* 2. TEXT - - - - - - */

strong { 
    font-weight: 700;
}

.category-title-text {
    font-family: 'Roboto Slab', serif;
    font-size: 2.4rem;
    margin: 0 0 .5em 0;
    line-height: 1.2;
}

.category-lead-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    margin: 0 0 .5em 0;
    line-height: 1.2;
}

.subhead-text-lg {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    margin: 0 0 .5em 0;
    line-height: 1.2;
}

.subhead-text-md {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    line-height: 1.2;
}

.affiliate-message-text {
    margin: 1em 0 4em 0;
    text-align: center;
}

.keyword-text li {
    font-size: .80rem;
    display: inline-block;
    margin: 0 0 2em 0;
}

.author-reviewer-name-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.date-reviewed-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    margin: 0 0 1em 0;
}

/* 3. BUTTONS - - - - - - */

.btn {
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    border: 0;
    cursor: pointer;
    margin: 3em 0 0 0;
}

.btn-primary {
    background: #48a5b4;
    color: #ffffff;
    width: 10em; /* 160px */
    height: 3em; /* 44px */
    border-radius: 3px;
}

.btn-primary:hover,
.btn-primary:focus {
    background: #2d6871;
    color: #ffffff;
    text-decoration: underline;
}

.contain {
    width: 75%;
    margin: 0 auto;
}

/* 4. HEADER - - - - - - */

header {
    background: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2em 0 2em 0;
}

.logo-card {
    display: flex;
    flex-direction: row;
}

.logo-text-abbr-header a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Shrikhand', cursive;
    font-size: 4rem;
    color: #ef7940;
    text-decoration: none;
}

.logo-text-full-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    margin: 0 0 0 1em;
}

.logo-text-full-header p {
    font-size: .9rem;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    color: #225158;

}

.mobile-bottom-border {
    display: none;
}

/* Search Form: DESKTOP - - - - - - - - - */

/* Style the search field */
form#search-desktop input[type=text] {
    padding: 10px;
    font-size: 1.25rem;
    border: 1px solid #dbdbdb;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */

form#search-desktop button {

    width: 20%;
    padding: 10px;
    background:#48a5b4;
    color: white;
    font-size: 1.25rem;
    border: 1px solid #d8d8d8;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  /* Style the hover on submit button */
form#search-desktop button:hover {
    background: #225158;
  }
  
  /* Clear floats */
form#search-desktop::after {
    content: "";
    clear: both;
    display: table;
  }

/* Search Form: MOBILE on desktop view - - - - - - - - - */

form#search-mobile {
    display: none;
}


/* 5. NAVIGATION - - - - - - */

.open-nav,
.close-nav {
    display: none;
}

nav {
    background: #48a5b4;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.active {
    background: #2d6871;
    text-decoration: underline;
}

nav a {
    text-decoration: none;
}


nav ul {
    background: #48a5b4;
    list-style: none;
}

nav li {
    color: #fff;
    background: #48a5b4;
    display: inline-block;
    text-align: center;
    min-width: 7rem;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}

nav li a {
    color: #ffffff;
}

nav li a:hover {
    color: #ffffff;
    text-decoration: underline;
}


nav li:hover,
nav li:focus-within {
    background: #225158;
    cursor: pointer;
}

nav li:focus-within a {
    outline: none;
}

nav ul li ul {
    background: #48a5b4;
    visibility: hidden;
    opacity: 0;
    min-width: 7rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}

nav ul li:hover > ul,
nav ul li:focus-within > ul,
nav ul li ul:hover,
nav ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block;
}

nav ul li ul li {
    clear: both;
    width: 100%;
}

.dropdown li a {
    font-size: 1rem;
}

/* 6. MAIN - - - - - - */

/* featured-category-items - - - - - - */

.featured-category-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.view-more {
    margin: 4em 0 4em 0;
    text-align: right;
}

/* featured-card-column - - - - - - */

.featured-card-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 30%;
}

/* random-category-items - - - - - - */

.random-thumbnail-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* random-card-column - - - - - - */

.random-card-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 15%;
}

.random-card-column img { 
    margin: 0 0 1em 0;
}

.custom-margin-desktop-random {
    margin: 0 0 4em 0;
}

/* season-featured-item - - - - - - */

.season-featured-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 100%;
}

.season-card-column-one {
    width: 10%;
}

.season-card-column-two {
    width: 10%;
}

.season-card-column-three {
    width: 65%;
}

/* category-featured-item  - - - - - - */

.category-featured-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 100%;
}

.category-card-column-one {
    width: 10%;
}

.category-card-column-two {
    width: 10%;
}

.category-card-column-three {
    width: 65%;
}

/* all-reviews-list - - - - - - */

#all-reviews-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

#all-reviews-list  .featured-card-column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 0 0 2em 0;
}

#all-reviews-list .all-reviews-list-img {
    max-width: 24%;
    height: auto;
}

#all-reviews-list .subhead-text-lg {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    margin: 0 0 0 0;
    line-height: 1.2;
    width: 16%;
}

#all-reviews-list .keyword-text li {
    display: none;
}

#all-reviews-list .author-reviewer-name-text {
    display: none;
}

#all-reviews-list .date-reviewed-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    margin: 0 0 0 0;
    width: 8%;
}

#all-reviews-list .card-body-text {
    width: 48%;
}

/* google-ad-card  - - - - - - */

.google-ad-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  
}

.google-ad-img {
    width: 728px;
    height: 90px;
}


/* 7. FOOTER - - - - - - */

footer {
    background: #e9ebee;
    padding: 4em 0 4em 0;
    margin: 4em 0 0 0;
    
}

.footer-contain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto;
}

.footer-card-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.custom-align-text {
    text-align: right;
}

footer .card-body-text li {
    color: #48a5b4;
    list-style: none;
}

footer .card-body-text li a {
    color: #48a5b4;
    text-decoration: none;
}

footer .card-body-text li a:hover {
    color: #225158;
    text-decoration: underline;
}

footer .card-body-text {
    color: #48a5b4;
}

.footer-custom-margin {
    margin: 0 0 2em 0;
}

.logo-text-footer p {
    color:	#707070;
}

#auto-date {
    color: #707070;
}

.logo-text-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.fab {
    font-size: 3rem;
    color: #48a5b4;
    padding: .25em .5em 0 0;
}

.fab:hover {
    color: #2d6871;
}


/* 8. MEDIA QUERIES - - - - - - */

@media only screen and (max-width: 1024px) {

    #all-reviews-list .all-reviews-list-img {
        max-width: 24%;
    }
    
    #all-reviews-list .subhead-text-lg {
        font-size: 1.4rem;
        line-height: 1.2;
        width: 16%;
    }
    
    #all-reviews-list .date-reviewed-text {
        width: 13%;
    }
    
    #all-reviews-list .card-body-text {
        width: 43%;
    }
}


@media only screen and (max-width: 958px) {

    form#search-desktop {
        display: none;
    }

     /* Style the search field */

    form#search-mobile {
        display: block;
        margin: 2em 0 0 0;
    }
    
    form#search-mobile input[type=text] {
        padding: 10px;
        font-size: 1.25rem;
        border: 1px solid #dbdbdb;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        float: left;
        width: 80%;
        background: #f1f1f1;
  }
  
    form#search-mobile button {
        width: 20%;
        padding: 10px;
        background: #48a5b4;
        color: white;
        font-size: 1.25rem;
        border: 1px solid #d8d8d8;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        border-left: none; /* Prevent double borders */
        cursor: pointer;
  }
  
  /* Style the hover on submit button */
    form#search-mobile button:hover {
        background: #225158;
    }
  
  /* Clear floats */
    form#search-mobile::after {
        content: "";
        clear: both;
        display: table;
    }

    .contain {
        width: 90%;
    }

    /* mobile navigation - - - - - - */

    .open-nav,
    .close-nav {
        display: block;
    }


    .nav {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        right: 0;
        bottom: 0;
        left: 100%;
        transform: translateX(0);
        transition: transform 250ms;
        transition: transform 250ms, -webkit-transform 250ms;
        z-index: 999;
    }
    
    .navigation-open {
        transform: translateX(-100%);
    }
    
    .nav-list {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        height: 80%;
        align-items: center;
        justify-content: center;
        flex-direction: column;     
    }

    .navigation-list {
        display: none;
    }

    .dropdown li a {
        font-size: 1rem;
    }

    .nav-list li {
        list-style: none;
        padding: 0 0 0 0;
        font-size: 1rem;
        color: #ffffff;
        min-width: 110%;
    }


    nav li {
        display: inline-block;
        text-align: center;
        min-width: 0;
        padding: 0;
        position: relative;
        text-decoration: none;
        align-items: flex-start;
        line-height: 2;
        
    }

    nav ul li ul {
        visibility: visible;
        background: transparent;
        min-width: 0;
        display: block;
    }

    .nav-item li {
        text-align: left;
        padding-left: 1em;
    }

    .nav-link {
        color: #ffffff;
        text-decoration: none;
        font-size: 2rem;
        line-height: 1.2;
        font-weight: 700;
    }
    
    .nav-link:hover,
    .nav-link:focus {
        color: #ffffff;
        text-decoration: underline;
    }

    nav li:hover,
    nav li:focus-within {
        background: #225158;
        cursor: pointer;
}
    
    .close-nav {
        border: 0;
        background: 0;
        color: #ffffff;
        font-weight: 700;
        font-size: 3rem;
        cursor: pointer;
        padding: .5em;
        top: 0;
        left: .15em;
        position: absolute;
    }
    
    .close-nav:hover {
        color: #225158;
    }
    
    .open-nav {
        border: 0;
        background: 0;
        color: #48a5b4;
        cursor: pointer;
        padding-right: .25em;
        margin-left: auto;
        margin-top: -.25em;
        font-size: 3em;
    }
}

@media only screen and (max-width: 834px) {

    .btn {
        font-size: 0.85rem;
    }

    .category-title-text {
        font-size: 2rem;
        margin: 0 0 1em 0;
    }

    .category-lead-text {
        font-size: 1.5rem;
        margin: 0 0 1em 0;
    }

    .subhead-text-lg {
        font-size: 1.25rem;
    }

    .subhead-text-md {
        font-size: 1rem;
    }

    #all-reviews-list .subhead-text-lg {
        font-size: 1.2rem;
        line-height: 1.2;
        width: 18%;
    }
    
    #all-reviews-list .date-reviewed-text {
        width: 11%;
    }
}

@media only screen and (max-width: 768px) {
    #all-reviews-list .card-body-text {
        width: 41%;
    }
}

@media only screen and (max-width: 600px) {


    .season-featured-item {
        flex-direction: column;
        width: 100%;
     }

     .season-card-column-one {
         width: 25%;
     }

     .author-image {
         display: none;
     }

     .season-card-column-two {
         width: 50%;
     }

    .season-card-column-three {
        width: 100%;
    }

    .featured-category-items {
        flex-direction: column;
    }
    
    .featured-card-column {
        width: 100%;
    }

    .random-thumbnail-items {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        align-content: space-between;
    }
    
    .random-card-column {
        width: 32%;
    }

    #all-reviews-list  .featured-card-column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        padding: 0 0 4em 0;
    }
    
    #all-reviews-list .all-reviews-list-img {
        max-width: 100%;
        height: auto;
    }

    #all-reviews-list .subhead-text-lg {
        font-family: 'Roboto', sans-serif;
        font-size: 1.4rem;
        margin: .5em 0 .5em 0;
        line-height: 1.2;
        width: 100%;
    }

    #all-reviews-list .date-reviewed-text {
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        margin: 0 0 .5em 0;
        width: 100%;
    }

    #all-reviews-list .card-body-text {
        width: 100%;
    }

    .footer-contain {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        width: 90%;
        margin: 0 auto;
    }

    .logo-text-footer {
        justify-content: flex-start;
    }

    .custom-align-text {
        text-align: left;
    }

    .view-more {
        margin: 0em 0 4em 0;
    }

    .btn {
        margin: 2em 0 4em 0;
    }

    .custom-margin-desktop-random {
        margin: 0 0 0 0;
    }

    .custom-margin-bottom {
        margin: 0 0 0 0;
    }

    .custom-margin-top {
        margin: 2em 0 0 0;
    }

    .custom-margin-mobile-random {
        margin: 0 0 4em 0;
    }

}
