
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500;700&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');
/*
font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-weight: 700;
font-family: 'Roboto Slab', serif;
    font-weight: 500;
    font-weight: 700;
*/

/* COLORS /\/\/\/\/\/\/\/\/\/\/\/\/\
color: #1dcd99; greenish
color: #375cd8; blueish
*/

/* CONTENTS /\/\/\/\/\/\/\/\/\/\/\/\/\
*/

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
}

html, p, li {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    color: #1a1a1a;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

img {
    width: 100%;
    height: auto;
}

li {
    list-style: inside;
}

hr.horizontal-rule {
    border-top: 1px solid #D8D8D8;
    margin: 4em 0 4em 0;
}

a {
    color: #375cd8;
}

a:hover {
    color: #536eee;
}

/* chevron-up - - - - - - - - - - */

.back-to-top {
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 100%;
    margin: 4em 0 4em 0;
}

.fa-chevron-up {
    font-size: 2rem;
    color: #ffffff;
    background-color: #375cd8;
    padding: 10px 12px;
    border-radius: 26px;
}

/* text  - - - - - - - - - - */

strong { 
    font-weight: 700;
}

.category-title-text {
    font-family: 'Roboto Slab', serif;
    font-size: 2.4rem;
    margin: 0 0 1em 0;
    line-height: 1.2;
}

.category-lead-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    margin: 0 0 1em 0;
    line-height: 1.2;
}

.subhead-text-lg {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    margin: 0 0 1em 0;
    line-height: 1.2;
}

.subhead-text-md {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    line-height: 1.2;
}

.affiliate-message-text {
    margin: 4em 0 4em 0;
    text-align: center;
}

.keyword-text li {
    font-size: .80rem;
    display: inline-block;
    margin: 0 0 2em 0;
}

.author-name-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.date-reviewed-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    margin: 0 0 1em 0;
}

/* buttons - - - - - - - - - - */

.btn {
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    border: 0;
    cursor: pointer;
    margin: 3em 0 0 0;
}

.btn-primary {
    background:#375cd8;
    color: #fff;
    width: 160px;
    height: 44px;
    border-radius: 3px;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #536eee;
    color: #fff;
}

.contain {
    width: 75%;
    margin: 0 auto;
}

/* HEADER - - - - - - - - - - */
header {
    background: royalblue;
}


/* NAV - - - - - - - - - - */

nav {
    background: #375cd8;
}

.nav-text-item {
    padding: 1em 0 1em 0;
    text-align: center;
}

.nav-text-item li {
    display: inline-block;
    padding: 0 .5em 0 .5em;
}

.nav-text-item a {
    color: #ffffff;
    text-decoration: none;
}

.nav-text-item a:hover {
    text-decoration: underline;
}


/* featured-category-items - - - - - - - - - - */

.featured-category-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.view-more {
    margin: 4em 0 4em 0;
    text-align: right;
}

/* featured-card-column - - - - - - - - - - */

.featured-card-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 30%;
}

/* random-category-items - - - - - - - - - - */

.random-thumbnail-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* random-card-column - - - - - - - - - - */

.random-card-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 15%;
}

.random-card-column img { 
    margin: 0 0 1em 0;
}

/* season-featured-item - - - - - - - - - - */

.season-featured-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 100%;
}

.season-card-column-one {
    width: 10%;
}

.season-card-column-two {
    width: 10%;
}

.season-card-column-three {
    width: 65%;
}


/* google-ad-card - - - - - - - - - - */

.google-ad-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  
}

.google-ad-img {
    width: 728px;
    height: 90px;
}


/* FOOTER - - - - - - - - - - */

footer {
    background: #1a1a1a;
    padding: 4em 0 4em 0;
    
}

.footer-contain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto;
}

.footer-card-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.align-right {
    text-align: right;
}

footer .card-body-text li {
    color: #ffffff;
    list-style: none;
}

footer .card-body-text li a {
    color: #ffffff;
    text-decoration: none;
}

footer .card-body-text li a:hover {
    color: #ffffff;
    text-decoration: underline;
}

footer .card-body-text {
    color: #ffffff;
}

.footer-custom-margin {
    margin: 0 0 2em 0;
}

.logo-text-footer {
    color:	#707070;
}

.fab {
    font-size: 3rem;
    color: #ffffff;
    padding: .25em .5em 0 0;
}